{% load static %}
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="{% static 'main/style.css' %}">
<script defer src="https://pyscript.net/latest/pyscript.js"></script>

<style>
	.qr-code {
	min-width: 300px;
	margin: auto;
	margin-top: 200px;
	border-radius: 5%;
	}
</style>
<script src =  
    "https://code.jquery.com/jquery-3.5.1.js">  
</script>
<title>QR Code Generator</title>
</head>

<body>
	<div class="container center-text">
		<header class="row">
			<div class="top_left"></div>
			<div class="top">
				<img src="{% static 'main/images/name.png' %}" alt="proname" onClick="location.href='http://127.0.0.1:8000'" class="proname">
			</div>
			<div class="top_right">
				<img src="{% static 'main/images/logo_white.png' %}" alt="team_logo" onClick="location.href='https://github.com/tjddus0403/StepByStep'" class="team_logo">
			</div>
		</header>
	<div class="container-fluid">
		<div class="text-center">
		<img src = "{% static 'main/images/loading.gif' %}" class="qr-code img-thumbnail img-responsive" />
		<a href="http://127.0.0.1:8000/url">
			<h2 style="color: #f4f4f4;">QR 코드를 스캔하여 결과 보기</h2>
		</a>
		
	</div>
</div>
<script>
	function htmlEncode(value) {
	return $('<div/>').text(value)
		.html();
	}

	$(function () {

		let finalURL =
		'https://chart.googleapis.com/chart?cht=qr&chl=' +
		htmlEncode("https://35dc-219-255-158-172.jp.ngrok.io/url") +
		'&chs=160x160&chld=L|0'

		$('.qr-code').attr('src', finalURL);
	});
</script>

</body>
</html>
